.selectedItemsBlock {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #646cff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
